* {
  scroll-behavior: smooth;
}

:root{
  --nav-width: 10%;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  height: 100%; /* 100% Full-height */
  width: var(--nav-width);
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  padding-top: 10rem; /* Place content 60px from the top */

}

nav a {
  color: white;
  padding: 1rem;
  display: block;
}

.content {
  padding: 10rem;
  margin-left: var(--nav-width);
}
