* {
  scroll-behavior: smooth;
}

:root{
  --nav-width: 20%;
  
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 200px;
  font-size: 20px;
  margin: 0;
  padding: 10;
  
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  height: 100% ; /* 100% Full-height */
  width: var(--nav-width);
  position: fixed; /* Stay in place */
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  padding-top: 6rem; /* Place content 60px from the top */

}

nav a {
  color: white;
  padding: 2rem;
  display: block;
}

.content {
  margin-left: var(--nav-width);
  height: 100%;
}

.footer {
  background-color: rgb(104, 104, 99); /* Black*/
  height: 29px; /* 100% Full-height */
  width: 80% ;
  bottom: 0;
  position: fixed;
  text-align: center;
  margin-left: var(--nav-width);
}

